$columns:10;
// font
$myFont: 'iransans';
$myBoldFont:  'iransans_bold';
$font7: 0.76em;
$font8: 0.85em;
$font9: 0.9em;
$font10: 1em;
// margin
$mar8: 8px;
$mar14: 14px;
$mar21: 21px;
$mar25: 25px;
$mar28: 28px;
// padding
$pad8: 8px;
$pad4: 4px;
$pad2: 2px;
$pad14: 14px;
// color
$darkblue: #003261;
$white: #fff;
$lightgray: #adadad;
$gray: #ddd;
$gray2: #ccc;
$gray3: #ddd;
$normalgray: #8a8a8a;
$orange: #ed6a00;
$black: #000;
$lightBlack: #2d2832;
$lightgraysecond:#eaeaea;
$red: #cf000f;